spring:
  application:
    name: szlx23-api

  # 数据库配置
  datasource:
    url: jdbc:postgresql://localhost:5432/szlx23_api
    username: postgres
    password: "001023"
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10

  # JPA/Hibernate 配置
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

# 管理员账号配置
admin:
  username: admin
  password: admin123

# Swagger/OpenAPI 配置
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    enabled: true
    display-request-duration: true
  packages-to-scan: com.szl.szlx23api.blog.controller
  paths-to-match: /**

